---
const response = await fetch("http://www.mocky.io/v2/5d6fb6b1310000f89166087b");
const data = await response.json();
---

<div class="vacancies">
  <h2>Vagas em aberto</h2>
  <h3>Desenvolvimento</h3>
  <ul class="vacancies__list">
    {
      data.vagas
        .filter((vaga) => vaga.ativa)
        .map((vaga) => (
          <li class="vacancy">
            <a class="vacancy__role" href={vaga.link}>
              {vaga.cargo}
            </a>
            {vaga.localizacao ? (
              <span class="vacancy__location">{`${vaga.localizacao.bairro} - ${vaga.localizacao.cidade}, ${vaga.localizacao.pais}`}</span>
            ) : (
              <span class="vacancy__location">Remoto</span>
            )}
          </li>
        ))
    }
  </ul>
</div>

<style>
  .vacancies {
    padding: 1rem;
  }

  @media (min-width: 1024px) {
    .vacancies {
      padding: 1rem 0;
    }
  }

  .vacancies h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 40px;
  }

  .vacancies h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0 0 40px;
  }

  .vacancies__list {
    list-style: none;
    padding: 0;
  }

  .vacancy {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    .vacancy {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .vacancy__role {
    font-weight: bold;
    color: #359c9c;
    text-decoration: none;
    margin-bottom: 8px;
  }
</style>
